body{
  font-family: 'Comfortaa', monospace;
  position: relative;
}
.canvasbox {
  width: 100%;
  opacity: 0.4;
  min-height: 100vh;
  margin: 0 auto;
  position: fixed;
  background: transparent;
  border-radius: 5px;
  display: none;
}
video{
  display: none;
}
#muteButton{
  border-radius: 1px;
  border: none;
  font-family: 'Comfortaa', monospace;
  font-size: 36px;
  display: block;
  padding-top: 5px;
}
#loading{
  font-size: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: pointer;
}